.day-cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
}

.color-level-1 {
    background-color: #FFD1D1;
}

.color-level-2 {
    background-color: #FF8D8D;
}

.color-level-3 {
    background-color: #FF4D4D;
}
