.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.project-card {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-name {
  padding-bottom: 10px;
  font-weight: bold;
}

.project-description {
  min-height: 50px;
  pading: 5px;
  display: flex;
  align-items: center;

}

.project-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-4 {
  max-width: 80%;
  margin: 0 auto;
}

// モーダルレイアウト用（プロジェクトページ）

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

.modal-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal-body {
    margin-left: 50px;
    margin-right: 50px;
}

.project-modal-dialog {
    msx-width: 80%
}

.project-modal-body {
    padding: 2rem;
}

.project-name input,
.project-description textarea {
    width: 100%;
}