.sign-form {
  padding-top: 80px;
}
.sign-font {
  font-weight: bold;
}

.custom-btn {
  background: linear-gradient(to bottom, #000, #000 50%, #333 50%, #333);
  background-size: 100% 200%;  /* 100% の幅と 200% の高さを持つ背景を設定 */
  background-position: 0 100%;  /* 初期位置を下に設定 */
  color: white;
  border: none;
  transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-block;
  transform: scale(1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.custom-btn:hover {
  background-position: 0 0;  
  color: white;
}

.sign-form .form-control {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.sign-form .form-control:focus {
  border-color: #4169e1; 
  box-shadow: none;
}

.alert.alert-danger {
  font-size: 14px;
  color: #ff0000;
  font-weight: bold;
  
  background-color: #ffeeee;
  padding: 10px;
  max-width: 300px;
  margin: 5px 0;
  border-radius: 5px;
}

.login-alert-center {
  font-size: 12px;
  color: #ff0000;
  font-weight: bold;
  
  background-color: #ffeeee;
  max-width: 400px;
  padding: 10px;
  margin: 10px auto;
}