@use '~bootstrap/scss/bootstrap';

@import 'registrations';
@import 'header';
@import 'top';
@import 'calendar';
@import 'task';
@import 'dashboard';
@import 'contribution';



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}