<%= form_with(model: project, url: projects_path, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <%= form.submit "プロジェクトを作成", class: "btn btn-primary" %>
<% end %>
