<% if @notifications.present? %>
  <div class="list-group">
    <% @notifications.each do |notification| %>
      <div class="list-group-item" id="notification-item-<%= notification.id %>">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1"><%= notification.message %></h6>
          <small class="text-muted">
            <%= link_to 'Mark as Read', notification_path(notification), method: :patch, remote: true, class: 'mark-as-read btn btn-sm btn-secondary' %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
